node_red_middleware.json.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "721527d98824c3f3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor/telemetry",
        "qos": "2",
        "datatype": "json",
        "broker": "c46d8953de76bc13",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "1cd3b07241e58083"
            ]
        ]
    },
    {
        "id": "1cd3b07241e58083",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extract Device ID",
        "func": "// Save the original sensor data so we don't lose it\nmsg.originalData = msg.payload; \n\n// Format the query to look for this specific device_id\nmsg.payload = [{ \"device_id\": msg.payload.device_id }]; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "7fe2714bbfc20fdb"
            ]
        ]
    },
    {
        "id": "7fe2714bbfc20fdb",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "a9cf131db971920c",
        "mode": "collection",
        "collection": "metadata",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 730,
        "y": 160,
        "wires": [
            [
                "ea97d6a1805027eb"
            ]
        ]
    },
    {
        "id": "ea97d6a1805027eb",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "11368780dd32680c"
            ]
        ]
    },
    {
        "id": "11368780dd32680c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Restore Payload",
        "func": "// 1. Retrieve the original data and guarantee it is a JSON object\nlet data = msg.originalData;\nif (typeof data === \"string\") {\n    data = JSON.parse(data);\n}\n\n// 2. Force the timestamp into a strict Date object\n// If the timestamp is somehow missing from Postman, this acts as a safety net and creates a new one using the current time.\nif (data.timestamp) {\n    data.timestamp = new Date(data.timestamp);\n} else {\n    data.timestamp = new Date(); \n}\n\n// 3. Assign the cleaned, formatted data back to the payload\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "264f568577d97a56"
            ]
        ]
    },
    {
        "id": "264f568577d97a56",
        "type": "mongodb4",
        "z": "f6f2187d.f17ca8",
        "clientNode": "a9cf131db971920c",
        "mode": "collection",
        "collection": "telemetry",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "2d877fe5a3019f3e"
            ]
        ]
    },
    {
        "id": "2d877fe5a3019f3e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "c46d8953de76bc13",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "34.21.150.35",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a9cf131db971920c",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "iot_platform",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://nodered_user:Taru301910@iot-data.7o28mtf.mongodb.net/?appName=IoT-Data",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "0a752f9cd22dd9b6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]