Exercise 8/flows (1).json
[
    {
        "id": "9574ac87e7f22fbf",
        "type": "function",
        "z": "7ce5cac87a8adba7",
        "name": "function 1",
        "func": "// 1. Capture the raw MQTT telemetry\nvar raw_data = msg.payload;\n\n// 2. Construct the Time-Series compliant object\nvar ts_document = {\n    \"timestamp\": new Date(),\n    \"sensor_id\": raw_data.sensor_id,\n    \"temperature\": raw_data.temperature,\n    \"humidity\": raw_data.humidity\n};\n\n// 3. Pass the formatted document AND explicit node instructions forward\nmsg.payload = ts_document;\n\n// Force-feed the configuration to the mongodb4 node to bypass UI bugs:\nmsg.database = \"smart_campus\";\nmsg.collection = \"environment_telemetry\";\nmsg.operation = \"insertOne\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "1853b8f971c23c04",
                "35f0ec2b07bd4132"
            ]
        ]
    },
    {
        "id": "9af051ba8b57a579",
        "type": "mqtt in",
        "z": "7ce5cac87a8adba7",
        "name": "",
        "topic": "campus/zone1/environment",
        "qos": "2",
        "datatype": "json",
        "broker": "4d0a04b7324a4360",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "9574ac87e7f22fbf",
                "d36f806b7354323c"
            ]
        ]
    },
    {
        "id": "1853b8f971c23c04",
        "type": "mongodb4",
        "z": "7ce5cac87a8adba7",
        "clientNode": "4a228a7818a32006",
        "mode": "collection",
        "collection": "environment_telemetry",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d36f806b7354323c",
        "type": "debug",
        "z": "7ce5cac87a8adba7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "35f0ec2b07bd4132",
        "type": "debug",
        "z": "7ce5cac87a8adba7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "4d0a04b7324a4360",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a228a7818a32006",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "host.docker.internal",
        "port": "27017",
        "dbName": "smart_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "aeebd3784bf4e789",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]