Exercise 6/flows (1).json
[
    {
        "id": "03ece79fbf3f0c1f",
        "type": "http in",
        "z": "58efb1d9f141bb44",
        "name": "",
        "url": "/api/sensor",
        "method": "put",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "fd5391e70f5e5653"
            ]
        ]
    },
    {
        "id": "fd5391e70f5e5653",
        "type": "function",
        "z": "58efb1d9f141bb44",
        "name": "function 3",
        "func": "msg.payload = [\n  { device_id: \"ESP_01\" },\n  { $set: { status: \"inactive\" } }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "b11fc141a231c4fa"
            ]
        ]
    },
    {
        "id": "b11fc141a231c4fa",
        "type": "mongodb4",
        "z": "58efb1d9f141bb44",
        "clientNode": "413f33f9d4dc8e98",
        "mode": "collection",
        "collection": "sensor_data",
        "operation": "updateOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "64bc4128021ff721"
            ]
        ]
    },
    {
        "id": "64bc4128021ff721",
        "type": "http response",
        "z": "58efb1d9f141bb44",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "413f33f9d4dc8e98",
        "type": "mongodb4-client",
        "name": "MangoDB Docker",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "samrt_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "300",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://host.docker.internal:27017/smart_campus?directConnection=true",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "5b4c587e42bcbc83",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]