Exercise 6/flows.json
[
    {
        "id": "715d2a48d473b039",
        "type": "function",
        "z": "58efb1d9f141bb44",
        "name": "function 2",
        "func": "msg.payload = [{}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "4fa95eae4d40f2ee"
            ]
        ]
    },
    {
        "id": "bfee10a2f322a9bb",
        "type": "http in",
        "z": "58efb1d9f141bb44",
        "name": "",
        "url": "api/telemetry",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "715d2a48d473b039"
            ]
        ]
    },
    {
        "id": "4fa95eae4d40f2ee",
        "type": "mongodb4",
        "z": "58efb1d9f141bb44",
        "clientNode": "413f33f9d4dc8e98",
        "mode": "collection",
        "collection": "sensor_data",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "78118045f3018d2a"
            ]
        ]
    },
    {
        "id": "78118045f3018d2a",
        "type": "http response",
        "z": "58efb1d9f141bb44",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "413f33f9d4dc8e98",
        "type": "mongodb4-client",
        "name": "MangoDB Docker",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "samrt_campus",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "300",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb://host.docker.internal:27017/smart_campus?directConnection=true",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "b3cf5d8a7005124a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mongodb4": "3.4.0"
        }
    }
]